<div>
  <% if (alert = flash[:alert]) %>
    <p> <%= alert %> </p>
  <% end %>

  <% if (notice = flash[:notice]) %>
    <p> <% notice %> </p>
  <% end %>

  <h1> Sign up below to start your free trial! </h1>

  <%# -------Sign Up Form------- %>
  <%= form_with model: @user, url: registration_url do |form| %>

    <div>
      <%= form.email_field :email_address,
                           required: true,
                           autofocus: true,
                           autocomplete: "username",
                           placeholder: "Enter your email address",
                           value: params[:email_address]
      %>
    </div>

    <div>
      <%= form.password_field :password,
                              required: true,
                              autocomplete: "current-password",
                              placeholder: "Enter your password",
                              maxlength: 72
      %>
    </div>

    <div>
      <%= form.password_field :password_confirmation,
                              required: true,
                              autocomplete: "current-password",
                              placeholder: "Confirm your password",
                              maxlength: 72
      %>
    </div>

    <div>
      <%= form.submit "Sign Up" %>
    </div>

  <% end %>
</div>