<%= form_with model: @segment, class: "flow" do |form| %>
  <div>
    <%= form.label :segment_icon %>
    <%= form.file_field :segment_icon, accept: "image/*" %>
  </div>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
