<%= form_with model: [:korsarium, :segment, level], class: "flow" do |form| %>
  <div>
    <%= form.label :level_icon %>
    <%= form.file_field :level_icon, accept: "image/*" %>
  </div>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :subtitle %>
    <%= form.text_area :subtitle, rows: "4" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
