<%= turbo_frame_tag "lessons", class: "wa-flank wa-align-items-stretch wa-gap-3xl" do %>
  <div class="wa-stack wa-gap-l" style="padding-right: var(--space-l);">
    <h1 class="center">Lessons</h1>

    <wa-divider></wa-divider>

    <nav class="wa-stack">
      <% @lessons.each do |lesson| %>
        <wa-button pill href="<%= lesson_path(lesson) %>" data-turbo-frame="lesson"><%= lesson.title %></wa-button>
      <% end %>
    </nav>

    <wa-button pill href="<%= new_segment_lesson_path(@segment) %>" class="center">
      <wa-icon name="plus" label="new lesson"></wa-icon>
    </wa-button>
  </div>

  <wa-divider orientation="vertical" style="height: auto; --color: black;"></wa-divider>

  <%= turbo_frame_tag "lesson", class: "prose flow", src: lesson_path(@selected_lesson) %>
<% end %>
