<%= turbo_frame_tag "lesson" do %>
  <div class="prose flow">
    <h3><%= @lesson.title %></h3>

    <h4>Introduction</h4>
    <p><%= @lesson.introduction %></p>

    <h4>Body</h4>
    <p><%= @lesson.body %></p>

    <h4>Summary</h4>
    <p><%= @lesson.summary %></p>
  </div>
<% end %>
