<%= turbo_frame_tag "lesson", class: "prose flow" do %>
  <h1><%= @lesson.title %></h1>

  <wa-divider></wa-divider>

  <div class="wa-cluster">
    <wa-button pill href="<%= edit_lesson_path(@lesson) %>">Edit</wa-button>

    <%= wa_button_to "Delete",
      @lesson,
      method: :delete,
      pill: true,
      variant: "danger",
      style: "margin-top: 0;"
    %>
  </div>

  <h2>Introduction</h2>

  <p><%= @lesson.introduction %></p>

  <h2>Body</h2>

  <p><%= @lesson.body %></p>

  <h2>Summary</h2>

  <p><%= @lesson.summary %></p>

<% end %>
