<%= turbo_frame_tag "lesson" do %>
  <section>
    <h1 class="header"><%= @lesson.title %></h1>

    <h2 class="header">Introduction</h2>
    <p class="prose prose--centered"><%= @lesson.introduction %></p>

    <h2 class="header">Body</h2>
    <p class="prose prose--centered"><%= @lesson.body %></p>

    <h2 class="header">Summary</h2>
    <p class="prose prose--centered"><%= @lesson.summary %></p>
  </section>
<% end %>
