<%= turbo_frame_tag "lesson" do %>
  <section class="stack prose">
    <h1><%= @lesson.title %></h1>

    <h2>Introduction</h2>
    <p><%= @lesson.introduction %></p>

    <h2>Body</h2>
    <p><%= @lesson.body %></p>

    <h2>Summary</h2>
    <p><%= @lesson.summary %></p>
  </section>
<% end %>
