<%= form_with model: course do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, size: "49x2" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
