<%= form_with model: course do |form| %>
  <div>
    <%= form.label :course_icon %>
    <%= form.file_field :course_icon, accept: "image/*" %>
  </div>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :subtitle %>
    <%= form.text_area :subtitle, size: "50x1" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
