
<%= content_tag :header, class: "centered" do %>
  <%= content_tag :h1, "Welcome to the Korsarium" %>
  <%= content_tag :h2, "Select a course below to begin" %>
<% end %>

<div id="courses">
  <% @courses.each do |course| %>
    <%= link_to course do %>
        <div>
          <%= course.name %>
          <%= course.description %>
        </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New Course", new_course_path %>

