<div class="wa-stack wa-gap-3xl">
  <div class="prose flow">
    <h1 class="center">
      <%= @textbook.title %>
    </h1>

    <wa-button href="<%= korsarium_level_path(@textbook.level_id) %>">
      Back
    </wa-button>

    <wa-button href="<%= edit_korsarium_textbook_path %>">
      Edit Textbook
    </wa-button>

    <wa-button variant="danger">
      <%= link_to "Delete Textbook", korsarium_textbook_path, data: { turbo_method: :delete } %>
    </wa-button>

    <div class="prose flow">
      <h1 class="center">Lessons</h1>

      <wa-button href="<%= new_korsarium_textbook_lesson_path(@textbook) %>">
        New Lesson
      </wa-button>

      <% @lessons.each do |lesson| %>
        <wa-button pill variant="brand" href="<%= korsarium_lesson_path(lesson) %>">
          <%= lesson.title %>
        </wa-button>
      <% end %>
    </div>
  </div>
</div>
