<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Korsarium" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= content_tag :nav, class: "nav" do %>
    <%= content_tag :div, class: "nav__left" do %>
    LogoPlaceholder
    <% end %>

    <%= content_tag :div, class: "nav__center" do %>
      <%= link_to "Korsarium", courses_path, class: "nav__link" %>
    <% end %>

    <%= content_tag :div, class: "nav__right" do %>
      <%= link_to "Log Out", session_path, method: :delete, class: "nav__link" %>
    <% end %>
  <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
